body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	color: #647AB7;
}

.container {
	max-width: 800px;
	margin: 96px auto 0 auto;
	padding: 20px;
}

.header {
	position: fixed;
	background-color: #38538C; 
    top: 0;
    width: 100%;
    z-index: 1000;
	text-align: left;
	margin-bottom: 20px;
	padding: 4px 16px;
}

.header h1 {
	display: inline-block;
	color: #FFF;
	font-size: 36px;
}

h2 {
	font-size: 30px;
	margin: 16px auto;
}

.app-icon {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	vertical-align: middle;
}

.app-store {
	position: absolute;
	right: 48px;
	display: inline-block;
	height: 48px;
	vertical-align: middle;
}

.description {
	text-align: center;
	margin-bottom: 20px;
	color: #38538C;
	padding: 8px 12px;
}

.description p {
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.primary-background {
	background-color: #38538C;
	color: #FFF;
}

.secondary-background {
	background-color: #647AB7;
	color: #FFF;
}

.app-screenshots {
	text-align: center;
	margin-bottom: 0px;
}

.app-screenshots .main-screenshot {
	max-width: 100%;
	height: auto;
	margin-bottom: 0px;
}

.app-screenshots .small-screenshot {
	max-width: 345px;
	height: auto;
	margin: 5px;
}

.app-download {
	text-align: center;
	padding: 8px;
}

.app-download-link, .app-download-link:visited {
	display: inline-block;
	padding: 10px 20px;
	background-color: #38538C;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
}

.coming-soon-link, .coming-soon-link:visited {
	display: inline-block;
	padding: 10px 20px;
	background-color: #647AB7;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
	margin: 8px;
}

.footer {
	text-align: center;
	margin-top: 0px;
}

.footer p {
	color: #777;
	font-size: 14px;
}